@using WebAsemly_NoiThat.Service
@using WebAsemly_NoiThat.Model
@inject ProductService ProductService
@using Newtonsoft.Json
@inject LocalStorageService LocalStorageService
@inject ProductService ProductService
@inject NavigationManager Navigation
@inject IJSRuntime JSRuntime


<div class="container-fluid">
        @if(CategoryTypes == null)
        {
        <iframe src="https://giphy.com/embed/VHOF8pfPZOt9p018zw" width="480" height="480" style="" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>

        <p><a href="https://giphy.com/gifs/pudgypenguins-mental-health-progress-working-on-it-VHOF8pfPZOt9p018zw">via GIPHY</a></p>

        }   
        else
        {
        <div class="row">
            @foreach(var item in CategoryTypes)
            {
                <div class="col-6 col-sm-3 col-md-3 col-lg-3 mt-4">
                    <div class="card-category">
                        <div class="card" id="@item.ID">
                            <div class="img-container">
                                <img src="/images/products/@item.HinhAnh" class="card-img-top" alt="...">
                                <div class="overlay">
                                    <button @onclick="() => ChuyenTrang(item.ID)">XEM NGAY</button>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <p class="card-text text-uppercase">@item.TenLoaiDanhMuc</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        }
</div>

@code {
    private List<Model.CategoryType> CategoryTypes;
    private List<int> targetIds = new List<int> { 6, 9, 10, 18 };

    protected override async Task OnInitializedAsync()
    {
        var allCategoryTypes = await ProductService.GetCategoryTypes();
        CategoryTypes = allCategoryTypes.Where(ct => targetIds.Contains(ct.ID)).ToList();
    }
    private void ChuyenTrang(int id)
    {
        var item = CategoryTypes.FirstOrDefault(p => p.ID == id);
        Navigation.NavigateTo($"/DanhMuc/{id}");
    }
}