
<div class="container text-center mt-3">
    <div class="row">
        <div class="col-6 col-sm-3 mt-5">
            <div class="card-category">
                <div class="card" style="width: 19rem;">
                    <img src="/images/products/banan1.webp" class="card-img-top" alt="...">
                    <div class="overlay">
                        <button>XEM NGAY</button>
                    </div>
                    <div class="card-body">
                        <p class="card-text text-uppercase">BÀN ĂN, BÀN LÀM VIỆC</p>
                    </div>
                </div>
            </div>

        </div>

        <div class=" col-6 col-sm-3 mt-5 ">
            <div class="card-category">
                <div class="card" style="width: 19rem;">
                    <img src="/images/products/ghedonut.webp" class="card-img-top" alt="...">
                    <div class="overlay">
                        <button>XEM NGAY</button>
                    </div>
                    <div class="card-body">
                        <p class="card-text text-uppercase">GHẾ ĂN, GHẾ LÀM VIỆC</p>
                    </div>
                </div>
            </div>
        </div>

        <div class=" col-6 col-sm-3 mt-5 ">
            <div class="card-category">
                <div class="card" style="width: 19rem;">
                    <img src="/images/products/giuongngu1.webp" class="card-img-top" alt="...">
                    <div class="overlay">
                        <button>XEM NGAY</button>
                    </div>
                    <div class="card-body">
                        <p class="card-text text-uppercase">GIƯỜNG NGỦ</p>
                    </div>
                </div>
            </div>
        </div>

        <div class=" col-6 col-sm-3 mt-5 ">
            <div class="card-category">
                <div class="card" style="width: 19rem;">
                    <img src="/images/products/tuquanao3.webp" class="card-img-top" alt="...">
                    <div class="overlay">
                        <button>XEM NGAY</button>
                    </div>
                    <div class="card-body">
                        <p class="card-text text-uppercase">TỦ QUẦN ÁO VÀ KỆ</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>