    <div style="background-color:rgba(248,164,136,0.6)">
        <div class="container">
            <div class="row mt-5">
                <h3 class="font-weight-bolder text-dark mt-4"> SẢN PHẨM GIẢM GIÁ</h3>

                <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-4">
                    <div class="card-product">
                        <div class="card">
                            <div class="image-container position-relative">
                                <img src="/images/products/banan6.webp" class="card-img-top" alt="Product Image">
                                <div class="overlay"></div>
                                <div class="icon-container">
                                    <i class="bi bi-cart"></i> |
                                    <i class="bi bi-heart"></i>
                                </div>
                                <div class="discount-badge">-10%</div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Bàn học VLine0292</h5>
                                <div class="rating">
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-half"></i>
                                </div>
                                <p class="card-text">
                                    <span class="original-price">1.444.440 VND</span><br>
                                    <span class="price">1.300.000 VND</span>
                                </p>
                                <div class="overlay2">
                                    <button>MUA NGAY</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-4">
                <div class="card-product">
                    <div class="card">
                        <div class="image-container position-relative">
                            <img src="/images/products/banan6.webp" class="card-img-top" alt="Product Image">
                            <div class="overlay"></div>
                            <div class="icon-container">
                                <i class="bi bi-cart"></i> |
                                <i class="bi bi-heart"></i>
                            </div>
                            <div class="discount-badge">-10%</div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Bàn học VLine0292</h5>
                            <div class="rating">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-half"></i>
                            </div>
                            <p class="card-text">
                                <span class="original-price">1.444.440 VND</span><br>
                                <span class="price">1.300.000 VND</span>
                            </p>
                            <div class="overlay2">
                                <button>MUA NGAY</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-4">
                <div class="card-product">
                    <div class="card">
                        <div class="image-container position-relative">
                            <img src="/images/products/banan6.webp" class="card-img-top" alt="Product Image">
                            <div class="overlay"></div>
                            <div class="icon-container">
                                <i class="bi bi-cart"></i> |
                                <i class="bi bi-heart"></i>
                            </div>
                            <div class="discount-badge">-10%</div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Bàn học VLine0292</h5>
                            <div class="rating">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-half"></i>
                            </div>
                            <p class="card-text">
                                <span class="original-price">1.444.440 VND</span><br>
                                <span class="price">1.300.000 VND</span>
                            </p>
                            <div class="overlay2">
                                <button>MUA NGAY</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-4">
                <div class="card-product">
                    <div class="card">
                        <div class="image-container position-relative">
                            <img src="/images/products/banan6.webp" class="card-img-top" alt="Product Image">
                            <div class="overlay"></div>
                            <div class="icon-container">
                                <i class="bi bi-cart"></i> |
                                <i class="bi bi-heart"></i>
                            </div>
                            <div class="discount-badge">-10%</div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Bàn học VLine0292</h5>
                            <div class="rating">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-half"></i>
                            </div>
                            <p class="card-text">
                                <span class="original-price">1.444.440 VND</span><br>
                                <span class="price">1.300.000 VND</span>
                            </p>
                            <div class="overlay2">
                                <button>MUA NGAY</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row mt-5">
            <div class="button-custom mb-4">XEM THÊM</div>
        </div>
    </div>
</div>
