 
.cart-custom .cart-item img {
    width: 100px;
    height: auto;
}

.cart-custom .cart-item h5 {
    margin: 0;
}

.cart-custom .cart-item p {
    margin: 0;
}

.cart-custom input[type="number"] {
    text-align: center;
}

.cart-custom .form-control-custom {
    width: 300px;
    height: 54px;
    padding-left: 10px;
    font-size: 18px;
}

.cart-custom .cart-btn-custom {
    width: 65px;
    height: 54px;
    background-color: #5AA897;
    color: #FFFF;
    border: inherit;
     
}
.cart-custom .cart-btn-checkout{
    width: 100%;
    height: 54px;
    background-color: #5AA897;
    color: #FFFF;
    border: inherit;
}

.cart-custom .border{
    border-radius: initial;
}

icon-shape {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    background-color: #D9D9D9;

}

.icon-sm {
    width: 2rem;
    height: 2rem;
}