/* Base styles for the carousel */
#carouselExampleAutoplaying {
    width: 100%;
}

.carousel-inner {
    height: 350px;
}

.carousel-item img {
    object-fit: fill;
    width: 100%;
    height: 100%;
}

/* Media query for devices with a width between 769px and 1440px */
@media (min-width: 769px) and (max-width: 1440px) {
    .carousel-inner {
        height: auto;
    }
}

/* Media query for devices with a width between 575px and 768px */
@media (min-width: 575px) and (max-width: 768px) {
    .carousel-inner {
        height: auto;
    }
}

/* Media query for devices with a width of 575px or less */
@media all and (max-width: 575px) {
    .carousel-inner {
        height: auto;
    }
}
