@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@using System.Text.Json
@using WebAsemly_NoiThat.Service
@inject ProductService ProductService
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="w-100" style="overflow:hidden">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="/" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span>
                        </a>
                        <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1 </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2 </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/admin/list-categories" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Danh mục</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/list-categorytypes" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Danh mục con</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/list-products" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Sản phẩm</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/list-accounts" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Tài khoản</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/list-bills" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Hoá đơn</span>
                        </a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">@accountName</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/Logout">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="w-100">
                @Body
            </div>
        </div>
    </div>

</div>

@*  <div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right w-25" id="sidebar-wrapper">
        <nav class="navbar navbar-expand-lg border-bottom">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav flex-column">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Danh mục
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/admin/list-categories">Danh mục</a>
                            <a class="dropdown-item" href="/admin/add-categories">Thêm danh mục</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sản phẩm
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/admin/list-products">Danh mục</a>
                            <a class="dropdown-item" href="/admin/add-products">Thêm sản phẩm</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Danh mục con
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/admin/list-categorytypes">Danh mục</a>
                            <a class="dropdown-item" href="/admin/add-categorytype">Thêm danh mục con</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <!-- Page Content -->
    <div id="page-content-wrapper" class="w-100">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        </nav>
        <div class="container-fluid">
            @Body
        </div>
    </div>
</div>
 *@ 


@* <style>
    #wrapper {
        display: flex;
        width: 100%;
        height: 100vh;
        overflow-x: hidden;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #page-content-wrapper {
        flex: 1;
    }

    .list-group-item-action:hover {
        background-color: #007bff;
        color: white;
    }
</style> *@

@code {
    // Toggle sidebar
    private void ToggleMenu()
    {
        // Implement logic to toggle sidebar visibility if needed
    }

    private string accountName = "TÀI KHOẢN";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var json = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "user");
            if (!string.IsNullOrEmpty(json))
            {
                var user = JsonSerializer.Deserialize<Model.Account>(json);
                if (user != null)
                {
                    accountName = user.TenNguoiDung;
                }
            }
            StateHasChanged();
        }
    }

    private async Task Logout()
    {
        var userId = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "userId");

        // Xóa giỏ hàng tạm thời khỏi Local Storage
        await JSRuntime.InvokeVoidAsync("localStorage.removeItem", "Cart");

        await JSRuntime.InvokeVoidAsync("localStorage.removeItem", "user");
        await JSRuntime.InvokeVoidAsync("localStorage.removeItem", "userId");
        accountName = "TÀI KHOẢN";
        NavigationManager.NavigateTo("/");
        StateHasChanged();
    }
}









