@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@using WebAsemly_NoiThat.Service

@using WebAsemly_NoiThat.Model
@inject ProductService ProductService
@inject HttpClient Http
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider

<style>
    .dropdown-submenu {
        position: relative;
    }

        .dropdown-submenu .dropdown-menu {
            top: 0;
            left: 100%;
            margin-top: -1px;
        }
</style>

<nav class="navbar navbar-expand-lg navbar-light navbar-custom">
    <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/IMG/Brand.png" alt="Logo" style="width: 50%; height: 50%;">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">HOME</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/GioiThieu">GIỚI THIỆU</NavLink>
                </li>

                @if (categories == null)
                {
                    <li class="nav-item">Loading...</li>
                }
                else if (!categories.Any())
                {
                    <li class="nav-item">No categories available</li>
                }
                else
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            DANH MỤC
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            @foreach (var category in categories)
                            {
                                var subcategoryUrl = $"DanhMuc/{category.ID}";
                                <li>
                                        <NavLink href="@subcategoryUrl" class="dropdown-item">@category.TenDanhMuc</NavLink>
                                </li>
                            }
                        </ul>
                    </li>
                }

                <li class="nav-item">
                    <NavLink class="nav-link" href="/LienHe">LIÊN HỆ</NavLink>
                </li>
                <li class="nav-item dropdown">
                    <NavLink class="nav-link dropdown-toggle" href="/TaiKhoan" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        TÀI KHOẢN
                    </NavLink>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/DangNhap">ĐĂNG NHẬP</a></li>
                        <li><a class="dropdown-item" href="/Register">ĐĂNG KÝ</a></li>
                        <li><a class="dropdown-item" @onclick="Logout">ĐĂNG XUẤT</a></li>
                    </ul>
                </li>
                
                <li class="nav-item icon-wrapper">
                    <NavLink class="nav-link" href="@accountLink">
                        <i class="fas fa-user nav-link-icon"></i>
                    </NavLink>                    
                    <NavLink class="nav-link" href="/cart"><i class="fas fa-shopping-cart nav-link-icon"></i></NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container" style="display:flex; justify-content:center;align-items:center">
    <div class="search-bar w-50">
        <div class="input-group">
            <div class="input-group-append">
                <button class="btn btn-outline-dark" type="button" style="border-top-left-radius:20px; border-bottom-left-radius:20px;"><i class="fas fa-search"></i></button>
            </div>
            <input type="text" class="form-control custom-search-input" style="border:1px solid black; border-left:none" placeholder="Tìm kiếm sản phẩm...">
            
        </div>
    </div>
</div>
<div>
    @Body
</div>

<footer class="mt-3">
    <div class="row mx-3">
        <div class="col-sm-2 col-md-2 text-white mt-5">
            <img src="\IMG\Brand.png" class="ms-5" alt="" style="background-color: white;" width="100px" height="100px">
            <p class="mt-3"> 2XDOMDecor - Nội thất cao cấp</p>
            <div>Liên kết mạng xã hội</div>
            <div class="row mt-2">
                <div class="col-sm-2"><a href="" style="background-color: dodgerblue; text-align: center;"><i class='bx bxl-facebook' style='color:white; width: 25px;'></i></a></div>
                <div class="col-sm-2"><a href="" style="background-color: deepskyblue;text-align: center"><i class='bx bxl-twitter' style='color:white;width: 25px;'></i></a></div>
                <div class="col-sm-2"><a href="" style="background-color: crimson;text-align: center"><i class='bx bxl-youtube' style='color:white;width: 25px;'></i></a></div>
            </div>
        </div>
        <div class="col-sm-3 col-md-3 text-white mt-5">
            <span class="fs-4 fw-bold">Liên hệ</span>
            <div style="width: 35px; border: 2px solid gray;" class="mt-1 mb-2"></div>
            <p>Cửa hàng nội thất giá tốt hàng đầu Việt Nam</p>
            <p>61/2 Quang Trung, P.10 Q. Gò Vấp, TP. HCM 61/2 Quang Trung, P.10 Q. Gò Vấp, TP. HCM</p>
            <p class="bi bi-telephone"> 0909.000.000</p>
            <p class="bi bi-envelope"> chovydecor@gmail.com</p>
        </div>
        <div class="col-sm-2 col-md-2 text-white mt-5">
            <span class="fs-4 fw-bold">Giới thiệu</span>
            <div style="width: 35px; border: 2px solid gray;" class="mt-1 mb-2"></div>
            <p>Phòng khách</p>
            <p>Phòng ngủ</p>
            <p>Phòng làm việc</p>
            <p>Phòng bếp</p>
        </div>
        <div class="col-sm-2 col-md-2 text-white mt-5">
            <span class="fs-4 fw-bold">Hướng dẫn</span>
            <div style="width: 35px; border: 2px solid gray;" class="mt-1 mb-2"></div>
            <p>Câu hỏi thường gặp</p>
            <p>Chính sách đổi trả</p>
            <p>Hướng dẫn bảo quản</p>
            <p>Hướng dẫn thanh toán</p>
            <p>Hướng dẫn mua hàng</p>
        </div>
        <div class="col-sm-3 col-md-3 text-white mt-5">
            <span class="fs-4 fw-bold">Đăng ký để nhận ưu đãi</span>
            <div style="width: 35px; border: 2px solid gray;" class="mt-1 mb-2"></div>
            <p>Hãy để lại email của bạn để nhận được những ý tưởng trang trí mới và những thông tin, ưu đãi từ ChovyDecor</p>
            <div class="input-group mb-3">
                <input type="text" class="form-control youremail" placeholder="Email của bạn" aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btndangky text-white border border-1" type="button" id="button-addon2">Đăng ký</button>
            </div>
        </div>
    </div>
    <div class="row mt-5" style="height: 70px;">
        <div style="border: 1px solid white; height: 1px;"></div>
        <div class="text-center mt-1 text-secondary">
            © Bản quyền thuộc về 2XDOMDecor. Powered by Haravan
        </div>
    </div>
</footer>

@code {
    public List<Model.Category> categories;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            categories = await ProductService.GetCategorys();
            if (categories == null)
            {
                Console.WriteLine("Failed to load categories.");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error loading categories: {ex.Message}");
        }
        accountLink = await GetAccountLinkAsync();

    }

    private string accountLink;

    private async Task<string> GetAccountLinkAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            var userId = user.FindFirst("UserId")?.Value;
            return $"/TaiKhoan/{userId}";
        }
        else
        {
            return "/DangNhap";
        }
    }

    private async Task Logout()
    {
        var response = await Http.PostAsync("https://localhost:44320/api/Login/logout", null);
        if (response.IsSuccessStatusCode)
        {
            Navigation.NavigateTo("/DangNhap");
        }
        else
        {
            Console.WriteLine("Đăng xuất không thành công: " + response.ReasonPhrase);
        }
    }
}