@page "/DangKy"
@using WebAsemly_NoiThat.Model

<div style="margin:0 auto">
    <div class="col-md-6 mt-3" style="width:100%">
        <div class="ml-5">
            <h3 class="font-weight-bold">ĐĂNG KÝ</h3>
            <div class="mt-5">
                <label for="username" class="form-label">TÊN ĐĂNG NHẬP</label>
                <input type="text" class="form-control input-dangnhap" @bind="username">
            </div>
            <div class="mt-4">
                <label for="password" class="form-label">MẬT KHẨU</label>
                <input type="password" class="form-control input-dangnhap" @bind="password" />
            </div>
            <div class="mt-4">
                <label for="confirmPassword" class="form-label">XÁC NHẬN MẬT KHẨU</label>
                <input type="password" class="form-control input-dangnhap" @bind="confirmPassword" />
            </div>
            <div class="mt-4">
                <label for="email" class="form-label">EMAIL</label>
                <input type="email" class="form-control input-dangnhap" @bind="email" />
            </div>
            <div class="mt-4">
                <button class="btn btn-outline-secondary" style="width:150px; height:50px; border-radius:10px;" @onclick="HandleRegister">ĐĂNG KÝ</button>
            </div>
            @if (!string.IsNullOrEmpty(errorMessage))
            {
                <div class="alert alert-danger mt-4">@errorMessage</div>
            }
        </div>
    </div>
</div>

@code {
    private string username;
    private string password;
    private string confirmPassword;
    private string email;
    private string errorMessage;

    [Inject]
    private HttpClient Http { get; set; }

    private async Task HandleRegister()
    {
        if (string.IsNullOrEmpty(username) || string.IsNullOrEmpty(password) || string.IsNullOrEmpty(confirmPassword) || string.IsNullOrEmpty(email))
        {
            errorMessage = "Vui lòng điền đầy đủ thông tin.";
            return;
        }

        if (password != confirmPassword)
        {
            errorMessage = "Mật khẩu và xác nhận mật khẩu không khớp.";
            return;
        }

        var newUser = new Account
            {
                TenNguoiDung = username,
                MatKhau = password,
                Email = email
            };

        try
        {
            var response = await Http.PostAsJsonAsync("https://localhost:44320/api/Account", newUser);

            if (response.IsSuccessStatusCode)
            {
                username = string.Empty;
                password = string.Empty;
                confirmPassword = string.Empty;
                email = string.Empty;
                errorMessage = "Đăng ký thành công!";
            }
            else
            {
                errorMessage = "Đăng ký thất bại. Vui lòng thử lại.";
            }
        }
        catch (Exception ex)
        {
            errorMessage = $"Đã xảy ra lỗi: {ex.Message}";
        }
    }
}