@page "/DangKy"

<div style="margin:0 auto">
    <div class="col-md-6 mt-3" style="width:100%">
        <div class="ml-5">
            <h3 class="font-weight-bold">ĐĂNG KÝ</h3>
            <div class="mt-5">
                <label for="taikhoan" class="form-label">TÊN ĐĂNG NHẬP</label>
                <input type="text" class="form-control input-dangnhap" id="taikhoan">
            </div>
            <div class="mt-4">
                <label for="password" class="form-label">MẬT KHẨU</label>
                <input type="password" class="form-control input-dangnhap" id="password" />
            </div>
            <div class="mt-4">
                <label for="password" class="form-label">XÁC NHẬN MẬT KHẨU</label>
                <input type="password" class="form-control input-dangnhap" id="password" />
            </div>
            <div class="mt-4">
                <label for="email" class="form-label">EMAIL</label>
                <input type="email" class="form-control input-dangnhap" id="email" />
            </div>
            <div class="mt-4">
                <button class="btn btn-outline-secondary" style="width:150px; height:50px; border-radius:10px;">ĐĂNG KÝ</button>
            </div>
        </div>

    </div>

</div>

@code {

}
