@page "/DanhMuc/{id:int}"
@using WebAsemly_NoiThat.Service
@using WebAsemly_NoiThat.Models
@inject ProductService ProductService
@inject NavigationManager Navigation
@inject IJSRuntime JSRuntime

<h3>Home/ Danh Mục Sản Phẩm/ @categoryType.TenLoaiDanhMuc</h3>


@code {
    [Parameter]
    public int id { get; set; }
    private Models.CategoryType categoryType;
    protected override async Task OnInitializedAsync()
    {
        categoryType = await ProductService.GetCategoryTypesId(id);

    }  
}
