@page "/GioiThieu"
<head>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/GioiThieu.css" />
</head>

<div class="main-container">
    <div class="header">
        <h1>CHÀO MỪNG ĐẾN VỚI CỬA HÀNG NỘI THẤT 2XDOMDECOR</h1>
        <p>Khám phá đồ nội thất chất lượng cao làm thay đổi ngôi nhà của bạn.</p>
    </div>

    <!-- Hình ảnh đầu tiên -->
    <div class="image-container">
        <img src="/images/bggioithieu.webp" alt="Hình Ảnh Nội Thất Lớn">
    </div>

    <div class="content-section" id="about">
        <h2>Về chúng tôi</h2>
        <p>Tại 2xDomDecor, chúng tôi tận tâm cung cấp cho bạn những đồ nội thất tốt nhất để làm cho ngôi nhà của bạn vừa đẹp vừa tiện dụng. Với nhiều năm kinh nghiệm trong ngành, đội ngũ của chúng tôi tuyển chọn nhiều loại sản phẩm phục vụ cho nhiều sở thích và phong cách khác nhau. Chúng tôi tự hào về chất lượng, tính bền vững và sự hài lòng của khách hàng.</p>
    </div>

    <!-- Hình ảnh thứ hai -->
    <div class="image-container">
        <img src="/images/imgtestnoithat2.jpg" alt="Hình Ảnh Nội Thất Lớn">
    </div>

    <div class="content-section" id="mission">
        <h2>Nhiệm vụ của chúng tôi</h2>
        <p>Sứ mệnh của chúng tôi là cung cấp đồ nội thất và dịch vụ đặc biệt vượt trên sự mong đợi của khách hàng. Chúng tôi mong muốn trở thành đối tác đáng tin cậy trong lĩnh vực trang trí nội thất gia đình bằng cách cung cấp các sản phẩm kết hợp giữa phong cách, sự thoải mái và độ bền.</p>
    </div>

    <!-- Hình ảnh thứ ba -->
    <div class="image-container">
        <img src="/images/imgtestnoithat.webp" alt="Hình Ảnh Nội Thất Lớn" />
    </div>

    <!-- Phần theo dõi -->
    <div class="subscribe-container">
        <div class="subscription-image">
            <img src="/images/imgtestnoithat3.webp" alt="Ảnh Theo Dõi">
        </div>
        <div class="subscription-content">
            <h1>Theo dõi và cập nhật tin tức mới nhất</h1>
            <p>Khám phá nội thất thiết kế đương đại mang đến cảm giác thoải mái, sang trọng. Cá nhân hoá trong từng sản phẩm phù hợp với mọi không gian sống.</p>
            <div class="subscription-form">
                <input type="email" placeholder="Nhập email của bạn">
                <button>Theo dõi →</button>
            </div>
        </div>
    </div>
</div>

@code {
    
}
