@page "/"
@using Newtonsoft.Json
@using WebAsemly_NoiThat.Service
@inject LocalStorageService LocalStorageService
@inject ProductService ProductService
@inject NavigationManager Navigation
@inject IJSRuntime JSRuntime

@* Carousel *@
<WebAsemly_NoiThat.Pages.homepages.Carousel></WebAsemly_NoiThat.Pages.homepages.Carousel>

@*Card Category*@
<WebAsemly_NoiThat.Pages.homepages.Card_Category></WebAsemly_NoiThat.Pages.homepages.Card_Category>

@* voucher *@
<h1 class="container mt-5 text-danger con">Khuyến mãi dành cho bạn</h1>
<WebAsemly_NoiThat.Pages.homepages.Voucher></WebAsemly_NoiThat.Pages.homepages.Voucher>

@* seller *@
<WebAsemly_NoiThat.Pages.homepages.Seller></WebAsemly_NoiThat.Pages.homepages.Seller>
@* bestseller *@

<div class="mt-5 position-relative">
    <img class="w-100" src="/images/banner/BestSeller.png" />
     
     @*    <div class="overlay3"></div> *@
    
</div>

<h3 class="container mt-5 font-weight-bolder">TOP RATING</h3>

<div class="container">
    @if (SanPham == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div class="row" style="margin:0 auto">
            @foreach (var obj in SanPham.Take(soluongHienThi))
            {
                <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-4">
                    <div class="card-product">
                        <div class="card">
                            <div class="image-container position-relative" @onclick="() => ChuyenTrang(obj.ID)" id="@obj.ID">
                                <img src="/Image_SP_ASM/@obj.HinhAnh" class="card-img-top" alt="Product Image" style="cursor: pointer;">
                                <div class="overlay"></div>
                                <div class="icon-container">
                                    <i class="bi bi-cart" @onclick:stopPropagation="true" @onclick="() => AddToCartAsync(obj)"></i> |
                                    <i class="bi bi-heart" @onclick:stopPropagation="true"></i>
                                </div>
                                <div class="discount-badge">-10%</div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">@obj.TenSP</h5>
                                <div class="rating">
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-half"></i>
                                </div>
                                <p class="card-text">
                                    <span class="original-price">@obj.Gia.ToString("N0")đ</span><br>
                                    <span class="price">1.300.000đ</span>
                                </p>
                                <div class="overlay2">
                                    <button>MUA NGAY</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    <div class="row">
        <div class="button-custom mt-5" style="margin: 0 auto;" @onclick="LoadMore">XEM THÊM</div>
    </div>
</div>


@code {
    
}
