@page "/"
@* Carousel *@
<WebAsemly_NoiThat.Pages.homepages.Carousel></WebAsemly_NoiThat.Pages.homepages.Carousel>

@*Card Category*@
<WebAsemly_NoiThat.Pages.homepages.Card_Category></WebAsemly_NoiThat.Pages.homepages.Card_Category>

@* voucher *@
<h1 class="container mt-5 text-danger con">Khuyến mãi dành cho bạn</h1>
<WebAsemly_NoiThat.Pages.homepages.Voucher></WebAsemly_NoiThat.Pages.homepages.Voucher>

@* seller *@
<WebAsemly_NoiThat.Pages.homepages.Seller></WebAsemly_NoiThat.Pages.homepages.Seller>
@* bestseller *@

<div class="mt-5">
    <img class="w-100" src="/images/banner/BestSeller.png" />
</div>

<h3 class="container mt-5 mb-5 font-weight-bolder">TOP RATING</h3>


<div class="container">
    <div class="row mt-5">
        <h3 class="font-weight-bold text-black-50 mt-3 mb-3"> SẢN PHẨM ĐANG ĐƯỢC GIẢM </h3>

        <div class=" col-6 col-sm-3 mt-5 ">
            <div class="card " style="width: 307px; height: 544px">
                <img src="/images/products/banan6.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

        <div class=" col-6 col-sm-3 mt-5 ">
            <div class="card " style="width: 307px; height: 544px">
                <img src="/images/products/banan6.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class=" col-6 col-sm-3 mt-5 ">
            <div class="card " style="width: 307px; height: 544px">
                <img src="/images/products/banan6.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class=" col-6 col-sm-3 mt-5 ">
            <div class="card" style="width: 307px; height: 544px">
                <img src="/images/products/banan6.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>



        <div class=" col-6 col-sm-3 mt-5 ">
            <div class="card " style="width: 307px; height: 544px">
                <img src="/images/products/banan6.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class=" col-6 col-sm-3 mt-5 ">
            <div class="card " style="width: 307px; height: 544px">
                <img src="/images/products/banan6.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class=" col-6 col-sm-3 mt-5 ">
            <div class="card " style="width: 307px; height: 544px">
                <img src="/images/products/banan6.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class=" col-6 col-sm-3 mt-5 ">
            <div class="card " style="width: 307px; height: 544px">
                <img src="/images/products/banan6.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="btn btn-danger align-content-center mt-5" style="width:250px; height:50px; margin: 0 auto;">XEM THÊM</div>
        </div>
    </div>
</div>
