@page "/DangNhap"
@inject HttpClient Http
@using System.Text.Json
@using WebAsemly_NoiThat.Model
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

<h3>Đăng Nhập</h3>

<div class="d-flex justify-content-center">
    <div class="col-md-6 mt-3" style="width:100%">
        <h3 class="font-weight-bold text-center">ĐĂNG NHẬP</h3>

        <EditForm Model="@loginModel" OnValidSubmit="HandleLogin">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="mt-4">
                <label for="email" class="form-label">EMAIL:</label>
                <InputText type="email" id="email" @bind-Value="loginModel.Email" class="form-control input-dangnhap" />
            </div>
            <div class="mt-4">
                <label for="password" class="form-label">MẬT KHẨU:</label>
                <InputText type="password" id="password" @bind-Value="loginModel.Password" class="form-control input-dangnhap" />
            </div>
            <div class="mt-4">
                <button class="btn btn-outline-secondary" style="width:150px; height:50px; border-radius:10px;" type="submit">ĐĂNG NHẬP</button>
            </div>
        </EditForm>
    </div>
</div>

@code {
    private LoginModel loginModel = new LoginModel();

    private async Task HandleLogin()
    {
        var response = await Http.PostAsJsonAsync("https://localhost:44320/api/Account/login", loginModel);

        if (response.IsSuccessStatusCode)
        {
            var user = await response.Content.ReadFromJsonAsync<Account>();
            var json = JsonSerializer.Serialize(user);
            await JSRuntime.InvokeVoidAsync("localStorage.setItem", "user", json);
            await JSRuntime.InvokeVoidAsync("localStorage.setItem", "userId", user.ID.ToString()); // Lưu ID
            
            if (user.IDRole == 2)
            {
                NavigationManager.NavigateTo($"/TaiKhoan/{user.ID}");
            }
            else if (user.IDRole == 1)
            {
                NavigationManager.NavigateTo("/admin/index");
            }
        }
        else
        {
            // Xử lý lỗi ở đây
            Console.WriteLine("Đăng nhập không thành công.");
        }
    }
}
