@page "/TaiKhoan/{id:int}"
@inject HttpClient Http
@inject NavigationManager Navigation
@inject IJSRuntime JSRuntime
@using WebAsemly_NoiThat.Model

<div class="container">
    <div>
        <a class="dangxuat" href="/">Trang chủ</a> |
        <a>Thông tin tài khoản</a>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="w-100" style="margin-top:30px">
                <div style="border-left: 10px solid royalblue">
                    <p style="font-size:25px; font-weight:bold; text-transform:uppercase; padding-left:10px">Thông tin cá nhân</p>
                </div>
                <div class="text-center mt-2">
                    <img id="profileImagePreview" src="/IMG/@account.HinhAnh" height="100px" width="100px" style="border-radius:50%; object-fit:cover; border:1px solid black"><br />
                    <label for="profileImage" class="btn btn-primary mt-2">
                        Chọn ảnh
                        <input type="file" id="profileImage" name="profileImage" class="d-none" @onchange="OnFileChange">
                    </label>
                </div>
            </div>
            <br />
            <div>
                <a class="dangxuat" href="/TaiKhoan">Thông tin tài khoản</a><br />
                <a class="dangxuat" href="/DonHang">Đơn hàng</a><br />
                <a class="dangxuat" href="/DoiMatKhau">Đổi mật khẩu</a> <br />
                <a class="dangxuat" href="/Logout">Đăng xuất</a>
            </div>
        </div>

        <div class="col-md-8">
            <hr />
            <EditForm Model="account" OnValidSubmit="UpdateAccount">
                <div class="form-group row mt-5">
                    <div class="col-md-3">
                        <label for="TenND">Tên Người Dùng</label>
                    </div>
                    <div class="col-md-9">
                        <InputText class="form-control sua" id="TenND" @bind-Value="account.TenNguoiDung" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-3">
                        <label for="Email">Email</label>
                    </div>
                    <div class="col-md-9">
                        <InputText type="email" class="form-control sua" id="Email" @bind-Value="account.Email" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-3">
                        <label for="Diachi">Địa Chỉ</label>
                    </div>
                    <div class="col-md-9">
                        <InputText class="form-control sua" id="Diachi" @bind-Value="account.DiaChi" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-3">
                        <label for="SDT">Số Điện Thoại</label>
                    </div>
                    <div class="col-md-9">
                        <InputText class="form-control sua" id="SDT" @bind-Value="account.SDT" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-3">
                        <label>Giới Tính</label>
                    </div>
                    <div class="col-md-9">
                        <InputRadioGroup @bind-Value="account.GioiTinh">
                            @foreach (var gender in new[] { "Nam", "Nữ" })
                            {
                                <div class="form-check col-md-2 ml-2">
                                    <InputRadio id="@($"gioiTinh{gender}")" class="form-check-input" Value="@gender" />
                                    <label class="form-check-label" for="@($"gioiTinh{gender}")">@gender</label>
                                </div>
                            }
                        </InputRadioGroup>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary" style="width: 150px; border-radius:0; padding:10px">Cập Nhật</button>
            </EditForm>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int id { get; set; }

    private Account account = new Account();

    protected override async Task OnInitializedAsync()
    {
        var userId = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "userId");

        if (!string.IsNullOrEmpty(userId))
        {
            account = await Http.GetFromJsonAsync<Account>($"https://localhost:44320/api/Account/{id}");
        }
        else
        {
            Navigation.NavigateTo("/DangNhap");
        }
    }

    private async Task UpdateAccount()
    {
        var response = await Http.PutAsJsonAsync($"https://localhost:44320/api/Account/{account.ID}", account);

        if (response.IsSuccessStatusCode)
        {
            Console.WriteLine("Cập nhật thành công!");
        }
        else
        {
            Console.WriteLine("Cập nhật không thành công.");
        }
    }

    private async Task OnFileChange(ChangeEventArgs e)
    {
        var file = (IBrowserFile)e.Value;

        if (file != null)
        {
            var imageUrl = await UploadFile(file);
            account.HinhAnh = imageUrl;
            StateHasChanged();
        }
    }

    private async Task<string> UploadFile(IBrowserFile file)
    {
        var formData = new MultipartFormDataContent();
        var fileContent = new StreamContent(file.OpenReadStream());
        formData.Add(fileContent, "file", file.Name);

        var response = await Http.PostAsync("https://localhost:44320/api/Upload", formData);
        var imageUrl = await response.Content.ReadAsStringAsync();

        return imageUrl;
    }
}
