@page "/admin"
@using WebAsemly_NoiThat.Service
@inject AdminService AdminService
@using WebAsemly_NoiThat.Model


<h3>Product Management</h3>

<button @onclick="ShowAddProductForm">Add Product</button>


<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in products)
        {
            <tr>
                <td>@product.TenSP</td>
                <td>@product.MoTa</td>
                <td>@product.Gia</td>
                <td>
                    <button @onclick="() => EditProduct(product)">Edit</button>
                    <button @onclick="() => DeleteProduct(product.ID)">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<Model.Product> products;
    private Product currentProduct = new Product();
    private bool showForm = false;

    protected override void OnInitialized()
    {
        products = AdminService.GetProducts();
    }

    private void ShowAddProductForm()
    {
        currentProduct = new Product();
        showForm = true;
    }

    private void EditProduct(Product product)
    {
        currentProduct = product;
        showForm = true;
    }

    private void DeleteProduct(int id)
    {
        AdminService.DeleteProduct(id);
        products = AdminService.GetProducts();
    }

    private void HandleValidSubmit()
    {
        if (currentProduct.ID == 0)
        {
            AdminService.AddProduct(currentProduct);
        }
        else
        {
            AdminService.UpdateProduct(currentProduct);
        }
        products = AdminService.GetProducts();
        showForm = false;
    }

    private void CancelForm()
    {
        showForm = false;
    }
}
